#thumbnail > yt-image > img {
	filter: brightness(0%);
	transition: filter 0.5s ease-in-out;
}

#thumbnail > yt-image > img:hover {
	filter: brightness(100%);
}

#contents > yt-lockup-view-model > div > a > yt-thumbnail-view-model {
	filter: brightness(0%);
	transition: filter 0.5s ease-in-out;
}

#contents > yt-lockup-view-model > div > a > yt-thumbnail-view-model:hover {
	filter: brightness(100%);
}


#items > ytm-shorts-lockup-view-model-v2 > ytm-shorts-lockup-view-model > a > div > img {
	filter: brightness(0%);
	transition: filter 0.5s ease-in-out;
}

#items > ytm-shorts-lockup-view-model-v2 > ytm-shorts-lockup-view-model > a > div > img:hover {
	filter: brightness(100%);
}


#content > yt-lockup-view-model > div > a {
	filter: brightness(0%);
	transition: filter 0.5s ease-in-out;
}

#content > yt-lockup-view-model > div > a:hover {
	filter: brightness(100%);
}
