#thumbnail > yt-image > img {
	filter: brightness(0%);
	transition: filter 0.5s ease-in-out;
}

#thumbnail > yt-image > img:hover {
	filter: brightness(100%);
}

#content > yt-lockup-view-model > div > a {
	filter: brightness(0%);
	transition: filter 0.5s ease-in-out;
}

#content > yt-lockup-view-model > div > a:hover {
	filter: brightness(100%);
}